// ===================================
// import files..
// -----------------------------------
@import "bootstrap";
@import "compass";

// ---
// General styles
// ---------------------------

// ------
html {
	overflow-x: hidden;
	height: 100%;
}

body {
	min-height: 100%;
}

@import "core";