<!DOCTYPE html>
<html ng-app="Skeleton">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Skeleton</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-controller="MainCtrl" ng-style="bodyStyle">

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h2>angular socket-io</h2>
					<div class="slider">
						<label for="fader">Volume</label>
						<input type="range" min="0" max="100" id="fader" step="1" ng-model="sliderVal" ng-change="onSliderChange()">
						<output for="fader" id="volume" ng-bind="sliderVal"></output>
					</div>
				</div>
				<div class="col-xs-12">
					<button class="btn btn-primary" ng-click="onBtnClick()">click me</button>
				</div>
				<div class="col-xs-12">
					<h3>Send a message!</h3>
					<textarea class="ta-msg" ng-model="msg"></textarea>
					<button class="btn btn-primary" ng-click="sendMsg()">Send Message</button>
				</div>
				<div class="col-xs-12 lights">
					<button class="btn btn-lg btn-primary" ng-click="btnToggle('on')">On</button>
					<button class="btn btn-lg btn-primary" ng-click="btnToggle('off')">Off</button>
				</div>
			</div>
		</div>

		<script src="http://24.86.15.224:8989/socket.io/socket.io.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-gestures/gestures.min.js"></script>
		<script src="bower_components/angular-touch/angular-touch.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/service-socket-io.js"></script>
	</body>
</html>
